<main id="main cf">
  <section class="mainIn cf">
    <div class="sub_bg">
      <img th:src="@{/images/sub_top_tit3.png}" alt="Croptalk" class="sub_tit">
    </div>
    <aside class="aside">
      <div class="sidebar">
        <div class="aside_cate">
          <img th:src="@{/images/sub_aside_cate3_tit.png}" alt="Croptalk 농작물이야기">
        </div><!-- .aside_cate -->
        <div class="aside_bg">
          <ul class="cate_lnb1">
            <li> <a th:href="@{/article/list/crop/1}" class="lnb1" >농작물이야기</a></li>
            <li> <a th:href="@{/article/list/crop/2}" class="lnb2" >텃밭가꾸기</a></li>
            <li> <a th:href="@{/article/list/crop/3}" class="lnb3" >귀농학교</a></li>
          </ul><!-- .cate_lnb -->
        </div><!-- .aside_bg -->
      </div><!-- .sidebar -->
    </aside><!-- .aside -->
    <article class="article">
      <div class="articleIn">
        <nav>
          <h2>
            <img th:src="@{/images/sub_nav_tit_cate3_tit1.png}" alt="농작물이야기">
          </h2>
          <p class="location">
            <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
            <span>HOME </span>
            <span>농작물이야기 </span>
            <strong>농작물이야기</strong>
          </p>
        </nav>