
<main id="main cf">
  <section class="mainIn cf">
    <div class="sub_bg">
      <img src="../images/sub_top_tit4.png" alt="event" class="sub_tit">
    </div>
    <aside class="aside">
      <div class="sidebar">
        <div class="aside_cate">
          <img src="../images/sub_aside_cate4_tit.png" alt="event">
        </div><!-- .aside_cate -->
        <div class="aside_bg">
          <ul class="cate_lnb1">
            <li> <a href="#" class="lnb1" >이벤트</a></li>

          </ul><!-- .cate_lnb -->
        </div><!-- .aside_bg -->
      </div><!-- .sidebar -->
    </aside><!-- .aside -->
    <article class="article">
      <div class="articleIn">
        <nav>
          <h2>
            <img th:src="@{/images/sub_nav_tit_cate4_tit1.png}" alt="이벤트">
          </h2>
          <p class="location">
            <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
            <span>HOME </span>
            <span>이벤트 </span>
            <strong>이벤트</strong>
          </p>
        </nav>