<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/user/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- 
        작업내용 
        2024/08/26  하진희 login html, css update
    -->
</head>
<body>
    <div id="wrapper">

        <th:block th:include ="/include/header.html"/>
 
        <main>
            <div class="mainIn">
                <section class="login">
                    <form action="#">
                        <table border="0">
                            <tr>
                                <td><img src="../images/login_ico_id.png" alt="아이디"></td>
                                <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                            </tr>
                            <tr>
                                <td><img src="../images/login_ico_pw.png" alt="비밀번호"></td>
                                <td><input type="password" name="pass" placeholder="비밀번호 입력"></td>
                            </tr>
                        </table>
                        <input type="submit" value="로그인" class="btnLogin">
                    </form>
                    <div>
                        <h3>회원 로그인 안내</h3>
                        <p>
                            아직 회원이 아니시면 회원으로 가입하세요.
                        </p>
                        <a href="#">회원가입</a>
                    </div>
                </section>
            </div><!--mainIn-->
        </main><!--main end-->

        <th:block th:insert ="~{/include/footer.html}"/>

    </div><!--wrapper end-->
    
</body>
</html>