<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인사말</title>
    <!-- <link rel="shortcut icon" href="../images/fav.ico" type="image/x-icon"> -->
    <link rel="shortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/introduction/introduction2.css}">
</head>
<body>
    <div id="wrapper">

        <th:block th:include ="./include/header.html"/>
    <!-- 메인 콘텐츠 -->
        <main id="main" class="cf">
            <section class="mainIn cf">
                <div class="sub_bg">
                    <span class="sub_tit"><img th:src="@{/images/sub_top_tit1.png}" alt=""></span><!-- .sub_tit -->
                </div><!-- .sub_bg -->
        
                <aside class="aside">
                    <div class="sidebar">
                        <div class="aside_cate">
                            <img th:src="@{/images/sub_aside_cate1_tit.png}" alt="Buying in the Market 장보기">
                        </div><!-- .aside_cate -->
                        <div class="aside_bg">
                            <ul class="cate_lnb1">
                                <li> <a th:href="@{/introduction/introduction}" class="lnb1">인삿말</a></li>
                                <li> <a th:href="@{/introduction/direction}" class="lnb2">찾아오시는길</a></li>
                            </ul><!-- .cate_lnb -->
                        </div><!-- .aside_bg -->
                    </div><!-- .sidebar -->
                </aside><!-- .aside -->
                <article class="article">
                    <div class="articleIn">
                        <nav>
                            <h2>    
                                <img th:src="@{/images/sub_nav_tit_cate2_tit1.png}" alt="장보기">
                            </h2>
                            <p class="location">
                                <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
                                <span>HOME </span>
                                <span>팜스토리소개 </span>
                                <strong>인삿말</strong> 
                            </p>
                        </nav>
                        <a href="#"><img th:src="@{/images/sub_page1_article_txt.png}" alt="건강한 먹거리"class="content"></a>
                        <div class="txt">
                            <p>항상 저희 팜스토리를 성원해 주시고 관심을 가져주시는 모든 분들께 감사의 인사를 드리며<br>
                            가정에 건강과 행복이 가득하시길 기원합니다.</p><br>
                            
                            <p> 팜스토리는 신선하고 안전한 먹거리로 건강한 삶 만들기에 기여합니다.<br>
                                보다 좋은 농산품을 공급하기 위해 화학비료를 쓰지 않는 건강한 흙에서 유기농업으로 정성을 다해 지은 농사를 통해 믿고 먹을 수 있는 먹거리 제공에 앞장서겠습니다.</p><br>

                            <strong>친환경 농장</strong>
                            <p> 팜스토리는 경기도 이천에 위치한 10만평 규모의 유기농 재배단지입니다.</p><br>

                            <strong>친환경 캠페인</strong>
                            <p>팜스토리는 2차 포장재 사용을 줄임으로써 친환경적인 포장과, 친환경적인 소비문화 정착을 위해 노력합니다.</p>

                        </div><!-- .txt -->
                    </div><!-- .articleIn -->
                </article><!-- .article -->
                
            </section>
        </main><!-- #main -->
<!-- footer -->
        <th:block th:include ="./include/footer.html"/>
</div><!-- #wrapper -->
</body>
</html>