/* layout style */
/* reset */
*{margin: 0; padding:0; font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400;}
html{color:#111; position:relative;}
html, body{height:100%;}
body{font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img {margin: 0; padding: 0; outline: none;}
a{color:#111; text-decoration: none;}
img{border:none; vertical-align: top;}
ul, ol{list-style:none;}
address{font-style: normal;}


/*  추가된 버튼 CSS */

.imagDelBtn {
    width: 100px;
    /* display: flex; */
    position: absolute;
    margin-left: 200px;
}
.cancelUploadBtn{
    width: 100px;
    /* display: flex; */
    position: absolute;
    margin-left: 310px;


}


/* hyper link */
a, a:link, a:visited, a:active, a:hover{text-decoration: none; color: inherit;}



/* wrapper */
#wrapper{
    width: 100%;
    height: auto;

}

header{
    width: 100%;
    height: auto;
    background: url(../adminImages/admin_bg.jpg);
    background-position: bottom;
}

.headerIn{
    width: 980px;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;

}

.top img{
    margin-top: 12px;
    margin-left: 12px;
}

/* utill */
.utill{
    float: right;
    margin-top: -32px;
}

.utill ul{
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    color: white;
}
.utill ul li::after{
    content: " |";
}

.utill ul li:last-child::after{
    content: " ";
}

.utill li{
    margin-left: 4px;
}


/* main */

main{
    width: 100%;
    height: 832px;
}


/* mainIn */
.mainIn{
    width: 980px;
    height: 658px;
    margin: 0 auto;
    box-sizing: border-box;
}

.mainIn.list{
    height: 400px;
}


.mainIn div{
    display: inline-flex;
    flex-direction: column;
}
/* aside */

main .aside{

    width: 176px;
    height: 400px;
}

aside div{
    display: flex;
    flex-direction: row;
}

.sub_title{
    width: 156px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.sub_title span{
    margin-left: 20px;
}



/* adm_list */
.adm_list{
    width: 156px;
    height: 234px;
    margin-left: 20px;

}

.adm_list ul{
    margin-bottom: 10px;
}

.adm_list > ul > li:nth-child(1){
    margin-top: 20px;
}

.adm_list > ul > li > ul > li:first-child{
    margin-top: 5px;
}

.adm_list > ul > li > ul > li::before{
    content: "└";
}

/* section */

main .section{
    width: 804px;
    height: 658px;
    float: right;
    box-sizing: border-box;
}

.section.list{
    height: 400px;
}



/* main_container */
.main_container{
    margin-left: 10px;
}


/* main_top */
.main_top{
    width: 100%;
    height: 45px;
    text-align: left;
    line-height: 45px;
}

.main_top span{
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    color: #3F3F3F;
    margin-top: 12px;
}

.main_top >  h2{
    font-size: 17px;
    font-weight: 700;

}


/* tbname */

.tbname{
    width: 784px;
    height: 17px;
    box-sizing: border-box;
}


.tbname span{
    width: 784px;
    height: 17px;
    line-height: 17px;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.tbname span:nth-child(1){

    float: left;


}
.tbname span:nth-child(2){
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
}

/* product register table */

.reg_table{
    margin-bottom: 12px;
    box-sizing: border-box;
    height: 577px;
}


.reg_table table{
    width: 784px;
    height: 534px;
    border-top : 2px solid #333333;
}

.reg_table th,td{
    border-bottom: 1px dotted #999999;
}

.reg_table th{
    width: 100px;
    text-align: left;
    text-indent: 12px;
}


.reg_table td{
    text-indent: 6px;
}


.reg_table input{
    width: 151px;
    height: 19px;
    border-radius: 2.5px;
    border: 1px solid #767676;

}
/* deleveryfee radio 크기 조정 - 황수빈 */

input[type="radio"] {
    width: 12px; /* 체크박스 크기 조절 */
    height: 12px;
    vertical-align: middle;
}
label {
    font-size: 12px; /* 폰트 크기 조절 */
    margin-right: 5px;
    vertical-align: middle;

}


/* select  */
#prodtype{
    width: 46px;
    height: 18px;
    border: 1px solid #767676;
    background-color: #efefefef;
    appearance: none;
    text-indent: 3px;
    line-height: 18px;
}

#discount{
    width: 44px;
    height: 18px;
    border: 1px solid #767676;
    background: #efefef;
    text-indent: 3px;
    line-height: 18px;
}

#point{
    width: 44px;
    height: 20px;
    border: 1px solid #767676;
    background: #efefef;
    text-indent: 3px;
    line-height: 18px;
}
#discountrate{
    width :43px;
}
/* label */



.checklb {
    all: unset;
    width: 80px;
    height: 20px;
    box-sizing: border-box;
    /* padding: 3px 8px; */
    font-size: 10.44PX;
    line-height: 20px;
    text-align: center;
    background-position: bottom;
    border-radius: 2.5px;
    color: black;
    font-weight: 400;
    cursor: pointer;
}
input.file1 {
    display: none;
}

/* display: inline-flexbox;
align-items: center;
text-align: left;
width: auto;
font-weight: 400;
font-size: 10.42px;
gap: 0px;
vertical-align: middle;
white-space: nowrap;
margin-right: 18px; */


/* Adjust the '원' symbol */
.checklb::after {
    margin-left: 2px;                /* Slight space between the number and the '원' symbol */
    font-size: 12px;                 /* Match the font-size */
    vertical-align: middle;          /* Ensure '원' is vertically centered */
    line-height: normal;
    display: inline-block;
}

/* Adjust the checkbox input */
input[type="checkbox"] {
    -webkit-appearance: none;  /* Remove default checkbox styling in WebKit browsers */
    -moz-appearance: none;     /* Remove default checkbox styling in Mozilla browsers */
    appearance: none;
    margin:0px;               /* Provide a slight margin between checkbox and text */
    padding-right: 0;                /* Remove any padding */
    width: 13px;                     /* Set the checkbox width */
    height: 14px;
    background-color: #fff;    /* Set the background color of the checkbox */
    border: 1px solid #ccc;    /* Add a border to the checkbox */
    border-radius: 50%;                    /* Set the checkbox height */
}



/* fileupload */
.file_upload_tr {
    height:166px ;
}

.file_group {
    margin-bottom: 4px; /* Space between each file input */
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
}
.file_upload_form{
    width: 100%;
}

.file_upload_form label {
    font-size: 14px; /* Font size for labels */
    margin-bottom: 4px; /* Space between label and input */
    color: #333; /* Text color for the label */
    margin-left: 12px;
    text-indent: 0px;
}

/* Style the custom file input */
.cf_input {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

}

.ci{

    background-color:#EFEFEF;
    width: 80px;
    height: 20px;
    border: 1px solid black;
}
.cf_input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;


}

.cf_input span {
    box-sizing: border-box;
    display: inline-block;
    width: 64px;
    height: 14px;
    cursor: pointer;
    border: 1px solid #767676;
    background-color:#EFEFEF;
    width: 80px;
    height: 20px;

    border-radius: 2.5px;
    color:  #000000;
    font-size: 12px;
    text-indent: 0px;
    margin-left: 12px;
    padding-left: 8px;
    line-height: 16px;

    font-weight: 400;
}

.cf_input > p{
    font-size: 10px;
    width:auto;
    left: 96px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: visible; /* 글자 넘침 표시 */
    text-overflow: ellipsis; /* ...으로 표시하기 */


}



/* btn- group */
.reg_table .btn_group {
    width: 784px;
    height: 51px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.btn_group > .deletebtn{
    width: 48px;
    height: 14px;
    width: auto;
    float: left;
    position: relative;
    margin-top: 11px;
    align-self: self-start;
}

/* register product */
.reg_table .btn_group_register{
    width: 784px;
    height: 51px;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-flow: row-reverse;
    align-items: center;
}

.btn_group_register > .cancelbtn{
    box-sizing: border-box;
    float: right;
    justify-content: none;
    width: 50px;
    height: 28px;
    border-radius: 20px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 28px;

    margin-right: 3px;
    align-items: center;
}


.btn_group_register > .insertbtn {
    width: 74px;
    height: 31px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 31px;

    background: #EFEFEF;

}




/* pages */
.pages{
    width: 784px;
    height: 35px;
    text-align: center;
}

.pages ul li{
    display: inline-flex;
    text-align: center;
}

.pages ul li:first-child::before{
    content: "<";
}

.pages ul li:nth-child(5)::after{
    content: '>';
}




/* footer */
footer{
    width: 100%;
    height: auto;
    color: #ffffff;
    background:  #353535;
}

.fIn{
    width: 980px;
    height: 41px;
    margin: 0 auto;

}

.fttxt{
    font-family: Inter;
    font-size: 11.63px;
    font-weight: 400;
    line-height:12px;
    text-align: left;
    margin-left: 12px;
    padding-top: 12px;
}

.fttxt span{
    float: left;
}

.copy{
    font-family: Inter;
    font-size: 11.25px;
    font-weight: 400;
    line-height:13.62px;
    text-align: left;

}

.copy p{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    right: 12px;
}

.copy p span::after{
    content: "@copy";
}
.copy p span{
    margin-right: 2px;
}