<link rel="stylesheet" th:href="@{/css/footer.css}">
<footer id="footer">

    <div class="footerIn cf">
        <img th:src="@{/images/footer_logo.png}" alt="farmStory footer" class="flogo">
        <div class="finfo">
                <span class="tel">(주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-팜스토리구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호<br>
                    등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동 <br>
                    팜스토리 2차 프로젝트 &#45; 3조 김민희(팀장), 강유정, 이상훈, 정지현, 황수빈
                </span><!-- .tel -->
            <p class="version">[[${appInfo.appName}]]&#45;[[${appInfo.appVersion}]] </p><!-- .version -->
        </div><!-- .finfo -->


    </div><!-- .footerIn -->
</footer><!-- footer -->