/* 회원가입 */
.register {
    width: 600px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}

.register table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
    margin-bottom: 10px;
}
.register table caption {
    text-align: left;
    padding: 10px 0;
    font-weight: bold;
    box-sizing: border-box;
}

.register table tr > td {
    padding: 6px 12px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.register table tr > td:nth-child(1) {
    width: 105px;
    background: #f5f8f9;
}

.register table tr .nickInfo {margin-bottom: 6px;}
.register table input {
    width: 162px;
    height: 22px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    text-indent: 6px;
}

/* 이메일 인증 코드 발송 시 보이는 확인코드 입력 창 */
.register .auth {display: none; margin-top: 6px;}

/* 주소 */
.register table input[name=addr1] {
    display: block;
    width: 360px;
    margin: 4px 0;
}
.register table input[name=addr2] {
    display: block;
    width: 360px;
}
.register table button {
    border: none;
    vertical-align: bottom;
}
.register > form > div {
    float: right;
}
/* btn -  취소, 회원가입 */
.btn {display: block; float:left; box-sizing: border-box; height: 35px; line-height: 35px; text-align: center; border: 1px solid #bebebe; background: #fff;}
.btnCancel {width: 42px;}
.btnSubmit {width: 62px; margin-left: 3px; cursor: pointer; background: #efefef;}