<div class="aside">
  <aside>
    <div class="sub_title">
      <span>주요기능</span>
    </div>
    <div class="adm_list">
      <ul>
        <li>상품관리
          <ul>
            <li><a th:href="@{/admin/product/list}">상품목록</a></li>
            <li><a th:href="@{/admin/product/register}">상품등록</a></li>
          </ul>
        </li>

        <li>주문관리
          <ul>
            <li><a th:href="@{/admin/order/list}">주문목록</a></li>
          </ul>
        </li>
        <li>회원관리
          <ul>
            <li><a th:href="@{/admin/user/list}">회원목록</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside> <!-- aside end-->
</div><!-- .aside end-->