<main id="main cf">
  <section class="mainIn cf">
    <div class="sub_bg">
      <img th:src="@{/images/sub_top_tit5.png}" alt="COMMUNITY" class="sub_tit">
    </div>
    <aside class="aside">
      <div class="sidebar">
        <div class="aside_cate">
          <img th:src="@{/images/sub_aside_cate5_tit.png}" alt="커뮤니티">
        </div><!-- .aside_cate -->
        <div class="aside_bg">
          <ul class="cate_lnb">
            <li> <a th:href="@{/article/list/community/1}">공지사항</a></li>
            <li> <a th:href="@{/article/list/community/2}">오늘의식단</a></li>
            <li> <a th:href="@{/article/list/community/3}">나도요리사</a></li>
            <li> <a th:href="@{/article/list/community/4}">1:1고객문의</a></li>
            <li> <a th:href="@{/article/list/community/5}">자주묻는질문</a></li>
          </ul><!-- .cate_lnb -->
        </div><!-- .aside_bg -->
      </div><!-- .sidebar -->
    </aside><!-- .aside -->

    <article class="article">
      <div class="articleIn">
        <nav>
          <h2>
            <img th:src="@{/images/sub_nav_tit_cate5_tit1.png}" alt="공지사항">
          </h2>
          <p class="location">
            <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
            <span>HOME </span>
            <span>커뮤니티 </span>
            <strong>공지사항</strong>
          </p>
        </nav>