<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmStory</title>
    <link rel="sssashortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div id="wrapper">
        <th:block th:include ="/include/header.html"/>
        <main id="main">
            <section class="sub_bg">
                <article>
                            <img th:src="@{/images/main_slide_img1.jpg}" alt="main slid image">
                            <img th:src="@{/images/main_slide_img_tit.png}" alt="사람과 자연을 사랑하는 팜스토리 건강한 흙과 친환경만을 연구합니다." class="mainbntit">
                            <img th:src="@{/images/main_banner_bg.jpg}" alt="grand open" class="bannerbg">

                            <div class="main_banner">
                              <img th:src="@{/images/main_banner_img.png}" alt="사과배 사진" class="bannerimg">
                            <img th:src="@{/images/main_banner_tit.png}" alt="팜스토리오픝기념 30%할인 이벤트" class="bannertit">
                            <img th:src="@{/images/main_banner_txt.png}" alt="grand open" class="bannertxt">
                            </div>
                </article>
            </section>
            <section class="mainIn">
                <div class="maintit">
                    <img th:src="@{images/main_market_tit.png}" alt="장보기 베스트 상품을 소개합니다.">
                </div><!-- .maintit end -->

                <section class="market">
                    <article th:each="product: ${products}">
                        <a th:href="@{'/market/view?prodNo='+${product.prodNo}}">
                            <img th:src="@{'/productImg/'+${product.img1}}" alt="과일 샘플 이미지">
                            <div class="mtxt">
                                <span class = "producttype">[[${product.type}]]</span>
                                <p class="prodname">[[${product.prodName}]]</p>
                                <span class="original_price">[[${product.price}]]</span><span class = "discountrate">[[${product.discount}]]%</span>
                                <p class="sell_price"><strong>[[${product.price - product.price * product.discount / 100}]]원</strong></p>
                            </div>

                        </a>
                    </article>
                </section><!-- .market section end-->
                <section class="ad">
                    <article class="ad1">
                        <a href="#"><img th:src="@{/images/main_banner_sub1_tit.png}" alt="팜스토리 오늘의 식단"></a>
                    </article>
                    <article class="ad2">
                        <a href="#"><img th:src="@{/images/main_banner_sub2_tit.png}" alt="팜스토리 나도 요리사"></a>
                    </article>
                </section> <!-- .ad end-->

                <section class="crop">
                    <article class="garden">
                        <a href="#"><img th:src="@{/images/main_latest1_tit.png}" alt="텃밭가꾸기"></a>
                        <img th:src="@{/images/main_latest1_img.jpg}" alt="텃밭가꾸기">
                        <table>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                        </table>
                    </article>
                    <article class="returnfarm">
                        <a href="#"><img th:src="@{/images/main_latest2_tit.png}" alt="귀농학교"></a>
                        <img th:src="@{/images/main_latest2_img.jpg}" alt="귀농학교">
                        <table>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                        </table>
                    </article>
                    <article class="croptalk">
                        <a href="#"><img th:src="@{/images/main_latest3_tit.png}" alt="농작물이야기"></a>
                        <img th:src="@{/images/main_latest3_img.jpg}" alt="농작물 이야기">
                        <table>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                            <tr>
                                <th>></th>
                                <td>토마토! 건강하게 길러…</td>
                                <td>20-12-22</td>
                            </tr>
                        </table>
                    </article>
                </section>
                <section class="notice">
                    <article class="cs">
                        <div class="ntitle">
                            <img th:src="@{/images/main_sub2_cs_tit.png}" alt="고객센터안내">
                        </div>
                        <div class="cstxt">
                            <img th:src="@{/images/main_sub2_cs_img.png}" alt="전화기">

                            <img th:src="@{/images/main_sub2_cs_txt.png}" alt="고객센터 전화번호 1666-777">

                            <p class="cs_time">
                                평일: AM 09:00 ~ PM 06:00<br>
                                점심: PM 12:00 ~ PM 01:00<br>
                                토, 일요일, 공휴일 휴무<br>
                            </p>
                        </div>
                        <div class="cslink">
                            <a href="#"><img th:src="@{/images/main_sub2_cs_bt1.png}" alt="1:1고객문의"></a>
                            <a href="#"><img th:src="@{/images/main_sub2_cs_bt2.png}" alt="자주묻는 질문"></a>
                            <a href="#"><img th:src="@{/images/main_sub2_cs_bt3.png}" alt="배송 조회"></a>
                        </div>

                    </article>
                    <article class="account">
                        <div class="ntitle">
                            <img th:src="@{/images/main_sub2_account_tit.png}" alt="계좌안내">
                        </div>
                        <div class="accounttxt">
                            <p>
                                기업은행 123-456789-01-01-012<br>
                                국민은행 01-1234-56789<br>
                                우리은행 123-456789-01-01-012<br>
                                하나은행 123-456789-01-01<br>
                                예 금 주 (주)팜스토리
                            </p>
                        </div>

                    </article>
                    <article class="announcement">
                        <div class="ntitle">
                            <img th:src="@{/images/main_sub2_notice_tit.png}" alt="공지사항">
                        </div>
                        <div class="ntable">
                            <table class="ntable">
                                <tr>
                                    <th>·</th>
                                    <td>안녕하세요. 홈페이지 오픈 기념 이벤트를 … </td>
                                    <td>20-12-22</td>
                                </tr>
                                <tr>
                                    <th>·</th>
                                    <td>안녕하세요. 홈페이지 오픈 기념 이벤트를 … </td>
                                    <td>20-12-22</td>
                                </tr>
                                <tr>
                                    <th>·</th>
                                    <td>안녕하세요. 홈페이지 오픈 기념 이벤트를 … </td>
                                    <td>20-12-22</td>
                                </tr>
                                <tr>
                                    <th>·</th>
                                    <td>안녕하세요. 홈페이지 오픈 기념 이벤트를 … </td>
                                    <td>20-12-22</td>
                                </tr>
                                <tr>
                                    <th>·</th>
                                    <td>안녕하세요. 홈페이지 오픈 기념 이벤트를 … </td>
                                    <td>20-12-22</td>
                                </tr>
                            </table>
                        </div>

                    </article>

                </section><!--.notice end-->



            </section><!--.mainin end-->
        </main ><!-- #main -->

        <th:block th:include ="/include/footer.html"/>
</div><!-- warapper end -->
</body>
</html>