<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품상세보기</title>
    <link rel="shortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style_market_view.css}">
    <script th:src="@{/js/utils.js}"></script>
    <script>
        window.onload = function() {
            // 화면에는 포인트 적립률이 보이지 않도록
            document.getElementById('point_rate').style.display = 'none';

            // 가격과 포인트 비율에 따라 포인트를 자동으로 계산해주는 함수
            function calculatePoint() {
                const price = parseFloat(document.getElementById('price').textContent) || 0;  // 가격이 숫자인지 확인
                const quantity = parseInt(document.getElementById('quantity').value) || 1;
                const pointSelect = document.getElementById('point_rate');
                const pointDisplay = document.getElementById('pointDisplay'); // 포인트를 화면에 표시할 요소

                // 가격 또는 포인트 비율이 변경될 때마다 계산
                const pointRate = parseFloat(pointSelect.textContent) || 0; // 선택된 퍼센티지 값
                const point = Math.floor(price * (pointRate / 100) * quantity);  // 가격의 선택된 퍼센트 * 수량

                // 화면에 포인트 표시
                pointDisplay.textContent = point + 'p';
            }

            // 합계 계산 함수
            function calculateSum() {
                document.getElementById('originalFee').style.display = 'none';
                // 가격, 수량, 배송비 가져오기
                const price = parseFloat(document.getElementById('price').textContent) || 0; // 가격을 숫자로 변환
                const quantity = parseInt(document.getElementById('quantity').value) || 1; // 수량을 정수로 변환
                const deliverFeeDisplay = document.getElementById('displayFee'); // 배송비 display를 위한 것
                const originalDeliveryFee = parseFloat(document.getElementById('originalFee').textContent);  //
                let deliveryFee = parseFloat(document.getElementById('originalFee').textContent) || 0; // 바뀔 배송비
                const freeDeliveryCondition = parseInt(document.getElementById('etc').textContent) || 0;

                document.getElementById('etc').textContent = freeDeliveryCondition + '원 이상 무료배송';
                console.log("무료배송조건:" +freeDeliveryCondition);

                // 합계 계산
                let total = (price * quantity);

                if(total >= freeDeliveryCondition){
                    deliveryFee = 0;
                    deliverFeeDisplay.textContent = '무료';

                }else {
                    deliverFeeDisplay.textContent = originalDeliveryFee.toLocaleString() + '원';
                    console.log(originalDeliveryFee);
                }
                const totalPrice = total + deliveryFee;

                // 계산된 합계를 화면에 표시
                document.getElementById('total').textContent = totalPrice.toLocaleString() + '원';

            }

            // 포인트 및 합계 계산 초기화
            calculatePoint();
            calculateSum();

            // 수량이 변경될 때마다 합계 계산
            document.getElementById('quantity').addEventListener('input', function () {
                calculatePoint();
                calculateSum();

            });

            // 상품을 장바구니에 담기
            const addcart = document.getElementById('addcart');
            addcart.onclick = async function (e) {
                e.preventDefault();


                const prodNo = document.getElementById('prodNo').textContent.trim();
                const quantity = parseInt(document.getElementById('quantity').value);

                console.log("quantity : " + quantity);

                const JsonData = {
                    "product_id": prodNo,
                    "count": quantity

                }
                const data = await fetchPost('/farmstory/market/cart', JsonData)

                console.log(data);
                if(data.count > 0){
                    const moveCart = confirm('상품이 담겼습니다. 장바구니로 이동하시겠습니까?');
                    if(moveCart){
                        window.location.href = `/farmstory/market/cart?uid=`+data.uid;
                    }else {
                        // 이동하지 않았을때 1개의 구매수량에 대한 적립 포인트, 합계를 화면에 표시
                        console.log('장바구니로 이동하지 않음');
                        document.getElementById('quantity').value = '1';
                        calculatePoint();
                        calculateSum();

                    }
                }
            }

        }
    </script>
</head>
<body>
<div id="wrapper">
    <th:block th:include ="./include/header.html"/>

    <!-- #main -->
    <main id="main" class="cf">
        <section class="mainIn cf">
            <div class="sub_bg">
                <img th:src="@{/images/sub_top_tit2.png}" alt="MARKET" class="sub_tit">
            </div><!-- .sub_bg -->
            <aside class="aside">
                <div class="sidebar">
                    <div class="aside_cate">
                        <img th:src="@{/images/sub_aside_cate2_tit.png}" alt="Buying in the Market 장보기">
                    </div><!-- .aside_cate -->
                    <div class="aside_bg">
                        <ul class="cate_lnb">
                            <li> <a href="#">장보기</a></li>
                        </ul><!-- .cate_lnb -->
                    </div><!-- .aside_bg -->
                </div><!-- .sidebar -->
            </aside><!-- .aside -->
            <article class="article">
                <div class="articleIn">
                    <nav>
                        <h2>
                            <img th:src="@{/images/sub_nav_tit_cate2_tit1.png}" alt="장보기">
                        </h2>
                        <p class="location">
                            <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
                            <span>HOME </span>
                            <span>장보기 </span>
                            <strong>장보기</strong>
                        </p>
                    </nav>
                    <h3>기본정보</h3>
                    <div class="product_info">
                        <img th:src="@{'/productImg/'+${product.img2}}" alt="상품 기본 이미지" />
                        <div class="product_details">
                            <br>
                            <table>
                                <tr>
                                    <th>상품명</th>
                                    <td class="product" id="prodName">[[${product.prodName}]]</td>
                                </tr>
                                <tr>
                                    <th>상품코드</th>
                                    <td class="product" id="prodNo">[[${product.prodNo}]]</td>
                                </tr>
                                <tr>
                                    <th>배송비</th>
                                   <td> <span id="originalFee">[[${product.deliveryfee}]]원</span> <span class="point" id="displayFee"></span><span id ="etc">&nbsp;[[${product.etc}]]원 이상 무료배송</span></td>

                                </tr>
                                <tr>
                                    <th>판매가격</th>

                                    <td class="sell_price">
                                        <span class="original_price">[[${product.price}]]</span><span class = "discountrate">[[${product.discount}]]%</span>
                                        <span id="price">&nbsp;[[${product.price - product.price * product.discount / 100}]]</span>원</td>
                                </tr>

                                <tr>
                                    <th>구매수량</th>
                                    <td class="count">
                                        <input type="number" min="1" value="1" id="quantity" oninput="calculateSum()"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>적립 포인트</th>
                                    <td>
                                        <span id ="point_rate">[[${product.point}]]</span>
                                        <span class="point" id="pointDisplay"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>합계</th>
                                    <td class="sum" id="total">total price</td>
                                </tr>

                            </table>
                            <div class="buttons">
                                <a th:href="@{/market/cart}" type="button" id ="addcart" class="add_to_cart">장바구니</a>
                                <a href="#" type="button" class="buy_now">바로구매</a>
                            </div> <!-- .buttons -->
                        </div> <!-- .product_info -->
                    </div>
                    <h3>상품설명</h3>
                    <div class="sample"><img th:src="@{'/productImg/'+${product.img3}}" alt="상품 상세정보 이미지"></div>
                    <h3>배송정보</h3>
                    <p class="sms">입금하신 이후 택배송장번호는 SMS(문자서비스)를 통해 고객님께 안내해드립니다.</p>
                    <h3>교환/반품</h3>
                    <table class="table_change">
                        <colgroup>
                            <col style="width: 28.56%;">
                            <col style="width: 71.44%;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><label>교환 반품이 가능한 경우</label></th>
                            <td>
                                팜스토리 상품에 하자가 있거나 불량인 경우<br>
                                채소, 과일, 양곡등의 식품은 만1일 이내<br>
                                기타 상품은 수령일로부터 영업일 기준 일주일 이내<br>
                                받으신 상품이 표시사항과 다른 경우에는 받으신 날로부터 일주일 이내
                            </td>
                        </tr>
                        <tr>
                            <th><label>교환 반품이 불가능한 경우</label></th>
                            <td>
                                신선 식품의 경우 단순히 마음에 들지 않는 경우<br>
                                단순 변심으로 상품이 가치가 훼손돼서 판매가 어려운 경우
                            </td>
                        </tr>
                    </table>
                </div><!-- .articleIn -->
            </article><!-- .article -->
        </section>
    </main><!-- #main -->
    <th:block th:include ="./include/footer.html"/>
</div><!-- #wrapper -->
</body>
</html>
